@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}



body {
    background: url(imagens/fundo-madeira.jpg) black no-repeat top center fixed ;
    background-size: cover;
    width: 100vw;
    height: 97vh;
}



main {
    position: relative;
    height: 97vh;
}

section#celular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: url(imagens/frame-iphone.png) no-repeat;
    width: 311px;
    height: 627px;
}

iframe {
    position: absolute;
    width: 270px;
    height: 470px;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.menu-icones {
    display: flex;
    justify-content: end;
    margin: 15px;
}

.icone {
    width: 45px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.505);
    box-sizing: border-box;
}

.icone:hover {
    border: 1px solid rgba(255, 255, 255, 0.637);
    transform: scale(103%);
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.505);
    transition-duration: .5s;

}

